pipeline/PL_CovidProj.json
{
	"name": "PL_CovidProj",
	"properties": {
		"activities": [
			{
				"name": "Lookupwatermark",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"sqlReaderQuery": "SELECT ISNULL(\n    (SELECT LastID\n     FROM dbo.Watermark\n     WHERE TableName = 'Patient'),\n    -1\n) AS LastID;",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_DedSQLpool_Table_Param",
						"type": "DatasetReference",
						"parameters": {
							"pSchema": "na",
							"pTable": "na"
						}
					}
				}
			},
			{
				"name": "Set LastID",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Lookupwatermark",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "lastid",
					"value": "@activity('Lookupwatermark').output.firstRow.LastID"
				}
			},
			{
				"name": "Copy to staging bronze",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Set LastID",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "@concat('SELECT * FROM dbo.Patient WHERE PatientID > ',variables('lastid'))",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "SqlDWSink",
						"preCopyScript": "TRUNCATE TABLE bronze1.staging_Patient;",
						"writeBehavior": "Insert",
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": true,
					"stagingSettings": {
						"linkedServiceName": {
							"referenceName": "ls_adls_source",
							"type": "LinkedServiceReference"
						},
						"path": "staging"
					},
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "DS_sqldb",
						"type": "DatasetReference",
						"parameters": {
							"schemaname": "dbo",
							"tablename": "Patient"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "DS_DedSQLpool_Table_Param",
						"type": "DatasetReference",
						"parameters": {
							"pSchema": "bronze1",
							"pTable": "staging_Patient"
						}
					}
				]
			},
			{
				"name": "sp_bronze1usp_merge_patient",
				"type": "SqlPoolStoredProcedure",
				"dependsOn": [
					{
						"activity": "Copy to staging bronze",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"sqlPool": {
					"referenceName": "dsqlp_dev02",
					"type": "SqlPoolReference"
				},
				"typeProperties": {
					"storedProcedureName": "[bronze1].[usp_merge_patient]"
				}
			},
			{
				"name": "update watermark",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "sp_bronze1usp_merge_patient",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "ls_sql_dedicated_dev",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": "IF EXISTS (SELECT 1 FROM dbo.Watermark WHERE TableName = 'Patient')\nBEGIN\n    UPDATE dbo.Watermark\n    SET LastID = (SELECT MAX(PatientID) FROM bronze1.Patient)\n    WHERE TableName = 'Patient';\nEND\nELSE\nBEGIN\n    INSERT INTO dbo.Watermark (TableName, LastID)\n    SELECT 'Patient', (SELECT MAX(PatientID) FROM bronze1.Patient);\nEND"
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			}
		],
		"parameters": {
			"schemaname": {
				"type": "string"
			},
			"tablename": {
				"type": "string"
			}
		},
		"variables": {
			"lastid": {
				"type": "Integer"
			}
		},
		"folder": {
			"name": "CovidProj"
		},
		"annotations": []
	}
}