synw-ohcwm-dev/TemplateForWorkspace.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"workspaceName": {
			"type": "string",
			"metadata": "Workspace name",
			"defaultValue": "synw-ohcwm-dev"
		},
		"synw-ohcwm-dev-WorkspaceDefaultSqlServer_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'synw-ohcwm-dev-WorkspaceDefaultSqlServer'",
			"defaultValue": "Integrated Security=False;Encrypt=True;Connection Timeout=30;Data Source=tcp:synw-ohcwm-dev.sql.azuresynapse.net,1433;Initial Catalog=@{linkedService().DBName}"
		},
		"ls_adls_source_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://adlsohcwmfree01.dfs.core.windows.net/"
		},
		"ls_sql_dedicated_dev_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "synw-ohcwm-dev.sql.azuresynapse.net"
		},
		"ls_sql_dedicated_dev_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "dsqlp_dev02"
		},
		"synw-ohcwm-dev-WorkspaceDefaultStorage_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://adlsohcwmfree01.dfs.core.windows.net"
		}
	},
	"variables": {
		"workspaceId": "[concat('Microsoft.Synapse/workspaces/', parameters('workspaceName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('workspaceName'), '/PL_Copy_To_Bronze')]",
			"type": "Microsoft.Synapse/workspaces/pipelines",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"activities": [
					{
						"name": "Copy_to_bronze",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"additionalColumns": [
									{
										"name": "filename",
										"value": "FILENAME"
									},
									{
										"name": "etlrunid",
										"value": "id_001"
									},
									{
										"name": "createdate",
										"value": {
											"value": "@utcNow()",
											"type": "Expression"
										}
									}
								],
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "SqlDWSink",
								"preCopyScript": {
									"value": "@concat('TRUNCATE TABLE ', pipeline().parameters.p_TargetSchema, '.', pipeline().parameters.p_TargetTable)",
									"type": "Expression"
								},
								"allowCopyCommand": true,
								"copyCommandSettings": {},
								"disableMetricsCollection": false
							},
							"enableStaging": true,
							"stagingSettings": {
								"linkedServiceName": {
									"referenceName": "ls_adls_source",
									"type": "LinkedServiceReference"
								},
								"path": "test/staging"
							},
							"enableSkipIncompatibleRow": true,
							"logSettings": {
								"enableCopyActivityLog": true,
								"copyActivityLogSettings": {
									"logLevel": "Warning",
									"enableReliableLogging": false
								},
								"logLocationSettings": {
									"linkedServiceName": {
										"referenceName": "ls_adls_source",
										"type": "LinkedServiceReference"
									},
									"path": "test/errors"
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DS_ADLS_CSV_Param",
								"type": "DatasetReference",
								"parameters": {
									"pContainer": "@pipeline().parameters.p_SourceContainer",
									"pDirectory": "@pipeline().parameters.p_SourceDirectory",
									"pFileName": "@pipeline().parameters.p_FileName"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_DedSQLpool_Table_Param",
								"type": "DatasetReference",
								"parameters": {
									"pSchema": "@pipeline().parameters.p_TargetSchema",
									"pTable": {
										"value": "@pipeline().parameters.p_TargetTable",
										"type": "Expression"
									}
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"p_SourceContainer": {
						"type": "string"
					},
					"p_SourceDirectory": {
						"type": "string"
					},
					"p_FileName": {
						"type": "string"
					},
					"p_TargetSchema": {
						"type": "string"
					},
					"p_TargetTable": {
						"type": "string"
					}
				},
				"folder": {
					"name": "test"
				},
				"annotations": [],
				"lastPublishTime": "2026-04-05T18:36:55Z"
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/datasets/DS_ADLS_CSV_Param')]",
				"[concat(variables('workspaceId'), '/datasets/DS_DedSQLpool_Table_Param')]",
				"[concat(variables('workspaceId'), '/linkedServices/ls_adls_source')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/PL_Copy_To_Bronze_copy1')]",
			"type": "Microsoft.Synapse/workspaces/pipelines",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"activities": [
					{
						"name": "Copy_to_bronze",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"additionalColumns": [
									{
										"name": "filename",
										"value": "FILENAME"
									},
									{
										"name": "etlrunid",
										"value": "id_001"
									},
									{
										"name": "createdate",
										"value": {
											"value": "@utcNow()",
											"type": "Expression"
										}
									}
								],
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "SqlDWSink",
								"preCopyScript": {
									"value": "@concat('TRUNCATE TABLE ', pipeline().parameters.p_TargetSchema, '.', pipeline().parameters.p_TargetTable)",
									"type": "Expression"
								},
								"allowCopyCommand": true,
								"copyCommandSettings": {},
								"disableMetricsCollection": false
							},
							"enableStaging": true,
							"stagingSettings": {
								"linkedServiceName": {
									"referenceName": "ls_adls_source",
									"type": "LinkedServiceReference"
								},
								"path": "test/staging"
							},
							"enableSkipIncompatibleRow": true,
							"logSettings": {
								"enableCopyActivityLog": true,
								"copyActivityLogSettings": {
									"logLevel": "Warning",
									"enableReliableLogging": false
								},
								"logLocationSettings": {
									"linkedServiceName": {
										"referenceName": "ls_adls_source",
										"type": "LinkedServiceReference"
									},
									"path": "test/errors"
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DS_ADLS_CSV_Param",
								"type": "DatasetReference",
								"parameters": {
									"pContainer": {
										"value": "@pipeline().parameters.p_SourceContainer",
										"type": "Expression"
									},
									"pDirectory": {
										"value": "@pipeline().parameters.p_SourceDirectory",
										"type": "Expression"
									},
									"pFileName": {
										"value": "@pipeline().parameters.p_FileName",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_DedSQLpool_Table_Param",
								"type": "DatasetReference",
								"parameters": {
									"pSchema": {
										"value": "@pipeline().parameters.p_TargetSchema",
										"type": "Expression"
									},
									"pTable": {
										"value": "@pipeline().parameters.p_TargetTable",
										"type": "Expression"
									}
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"p_SourceContainer": {
						"type": "string"
					},
					"p_SourceDirectory": {
						"type": "string"
					},
					"p_FileName": {
						"type": "string"
					},
					"p_TargetSchema": {
						"type": "string"
					},
					"p_TargetTable": {
						"type": "string"
					}
				},
				"folder": {
					"name": "test"
				},
				"annotations": [],
				"lastPublishTime": "2026-04-05T23:09:16Z"
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/datasets/DS_ADLS_CSV_Param')]",
				"[concat(variables('workspaceId'), '/datasets/DS_DedSQLpool_Table_Param')]",
				"[concat(variables('workspaceId'), '/linkedServices/ls_adls_source')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/PL_Load_To_Silver')]",
			"type": "Microsoft.Synapse/workspaces/pipelines",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"activities": [
					{
						"name": "sp_silver_load",
						"type": "SqlPoolStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"sqlPool": {
							"referenceName": "dsqlp_dev02",
							"type": "SqlPoolReference"
						},
						"typeProperties": {
							"storedProcedureName": "[silver].[usp_exec]",
							"storedProcedureParameters": {
								"load_run_id": {
									"value": {
										"value": "@pipeline().parameters.p_load_run_id",
										"type": "Expression"
									},
									"type": "String"
								},
								"procname": {
									"value": {
										"value": "@pipeline().parameters.p_procname",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"p_load_run_id": {
						"type": "string"
					},
					"p_procname": {
						"type": "string"
					}
				},
				"folder": {
					"name": "test"
				},
				"annotations": [],
				"lastPublishTime": "2026-04-05T19:20:56Z"
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/sqlPools/dsqlp_dev02')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/PL_load_all_files')]",
			"type": "Microsoft.Synapse/workspaces/pipelines",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"activities": [
					{
						"name": "Lookup_Config",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlDWSource",
								"sqlReaderQuery": {
									"value": "@concat(\n'SELECT\n    ConfigId,\n    ProjectName,\n    LoadOrder,\n    SourceContainer,\n    SourceDirectory,\n    FileName,\n    TargetSchema,\n    TargetTable,\n    SilverProcName,\n    EnableSilver\nFROM config.IngestionConfig\nWHERE IsActive = 1\n  AND ProjectName = ''',\npipeline().parameters.pProjectName,\n'''\nORDER BY LoadOrder'\n)",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DS_DedSQLpool_Table_Param",
								"type": "DatasetReference",
								"parameters": {
									"pSchema": "config",
									"pTable": "IngestionConfig"
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEach_Files",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Lookup_Config",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup_Config').output.value",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "SP_Start_Run",
									"type": "SqlPoolStoredProcedure",
									"dependsOn": [
										{
											"activity": "Set source container",
											"dependencyConditions": [
												"Succeeded"
											]
										},
										{
											"activity": "Set Enablesilver",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"sqlPool": {
										"referenceName": "dsqlp_dev02",
										"type": "SqlPoolReference"
									},
									"typeProperties": {
										"storedProcedureName": "[audit].[sp_start_run]",
										"storedProcedureParameters": {
											"ConfigId": {
												"value": {
													"value": "@int(item().ConfigId)",
													"type": "Expression"
												},
												"type": "Int32"
											},
											"FileName": {
												"value": {
													"value": "@item().FileName",
													"type": "Expression"
												},
												"type": "String"
											},
											"PipelineName": {
												"value": {
													"value": "@pipeline().Pipeline",
													"type": "Expression"
												},
												"type": "String"
											},
											"PipelineRunId": {
												"value": {
													"value": "@pipeline().RunId",
													"type": "Expression"
												},
												"type": "String"
											},
											"TargetTable": {
												"value": {
													"value": "@concat(item().TargetSchema, '.', item().TargetTable)",
													"type": "Expression"
												},
												"type": "String"
											}
										}
									}
								},
								{
									"name": "Execute PL_bronze",
									"type": "ExecutePipeline",
									"dependsOn": [
										{
											"activity": "SP_Start_Run",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "PL_Copy_To_Bronze",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"p_SourceContainer": {
												"value": "@item().SourceContainer",
												"type": "Expression"
											},
											"p_SourceDirectory": {
												"value": "@item().SourceDirectory",
												"type": "Expression"
											},
											"p_FileName": {
												"value": "@item().FileName",
												"type": "Expression"
											},
											"p_TargetSchema": {
												"value": "@item().TargetSchema",
												"type": "Expression"
											},
											"p_TargetTable": {
												"value": "@item().TargetTable",
												"type": "Expression"
											}
										}
									}
								},
								{
									"name": "SP_End_Run_Fail_bronze",
									"type": "SqlPoolStoredProcedure",
									"dependsOn": [
										{
											"activity": "Execute PL_bronze",
											"dependencyConditions": [
												"Failed"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"sqlPool": {
										"referenceName": "dsqlp_dev02",
										"type": "SqlPoolReference"
									},
									"typeProperties": {
										"storedProcedureName": "[audit].[sp_end_run]",
										"storedProcedureParameters": {
											"ConfigId": {
												"value": {
													"value": "@item().ConfigId",
													"type": "Expression"
												},
												"type": "Int32"
											},
											"ErrorMessage": {
												"value": {
													"value": "@string(activity('Execute PL_bronze').error.message)",
													"type": "Expression"
												},
												"type": "String"
											},
											"PipelineRunId": {
												"value": {
													"value": "@pipeline().RunId",
													"type": "Expression"
												},
												"type": "String"
											},
											"RowsCopied": {
												"value": null,
												"type": "Int64"
											},
											"Status": {
												"value": "Failed",
												"type": "String"
											}
										}
									}
								},
								{
									"name": "Set source container",
									"type": "SetVariable",
									"dependsOn": [],
									"policy": {
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"variableName": "sourcecontainer",
										"value": {
											"value": "@item().SourceContainer",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Set Enablesilver",
									"type": "SetVariable",
									"dependsOn": [],
									"policy": {
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"variableName": "enablesilver",
										"value": {
											"value": "@item().EnableSilver",
											"type": "Expression"
										}
									}
								},
								{
									"name": "If Condition1",
									"type": "IfCondition",
									"dependsOn": [
										{
											"activity": "Execute PL_bronze",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"expression": {
											"value": "@variables('enablesilver')",
											"type": "Expression"
										},
										"ifFalseActivities": [
											{
												"name": "SP_End_Run_Success_silver_copy1",
												"type": "SqlPoolStoredProcedure",
												"dependsOn": [],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"sqlPool": {
													"referenceName": "dsqlp_dev02",
													"type": "SqlPoolReference"
												},
												"typeProperties": {
													"storedProcedureName": "[audit].[sp_end_run]",
													"storedProcedureParameters": {
														"ConfigId": {
															"value": {
																"value": "@item().ConfigId",
																"type": "Expression"
															},
															"type": "Int32"
														},
														"ErrorMessage": {
															"value": null,
															"type": "String"
														},
														"PipelineRunId": {
															"value": {
																"value": "@pipeline().RunId",
																"type": "Expression"
															},
															"type": "String"
														},
														"RowsCopied": {
															"value": null,
															"type": "Int64"
														},
														"Status": {
															"value": "Succeeded",
															"type": "String"
														}
													}
												}
											}
										],
										"ifTrueActivities": [
											{
												"name": "Execute PL_Load_To_Silver",
												"type": "ExecutePipeline",
												"dependsOn": [],
												"policy": {
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"pipeline": {
														"referenceName": "PL_Load_To_Silver",
														"type": "PipelineReference"
													},
													"waitOnCompletion": true,
													"parameters": {
														"p_load_run_id": {
															"value": "@pipeline().RunId",
															"type": "Expression"
														},
														"p_procname": {
															"value": "@item().SilverProcName",
															"type": "Expression"
														}
													}
												}
											},
											{
												"name": "SP_End_Run_Fail_silver",
												"type": "SqlPoolStoredProcedure",
												"dependsOn": [
													{
														"activity": "Execute PL_Load_To_Silver",
														"dependencyConditions": [
															"Failed"
														]
													}
												],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"sqlPool": {
													"referenceName": "dsqlp_dev02",
													"type": "SqlPoolReference"
												},
												"typeProperties": {
													"storedProcedureName": "[audit].[sp_end_run]",
													"storedProcedureParameters": {
														"ConfigId": {
															"value": {
																"value": "@item().ConfigId",
																"type": "Expression"
															},
															"type": "Int32"
														},
														"ErrorMessage": {
															"value": {
																"value": "@string(activity('Execute PL_Load_To_Silver').error.message)",
																"type": "Expression"
															},
															"type": "String"
														},
														"PipelineRunId": {
															"value": {
																"value": "@pipeline().RunId",
																"type": "Expression"
															},
															"type": "String"
														},
														"RowsCopied": {
															"value": null,
															"type": "Int64"
														},
														"Status": {
															"value": "Failed",
															"type": "String"
														}
													}
												}
											},
											{
												"name": "SP_End_Run_Success_silver",
												"type": "SqlPoolStoredProcedure",
												"dependsOn": [
													{
														"activity": "Execute PL_Load_To_Silver",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"sqlPool": {
													"referenceName": "dsqlp_dev02",
													"type": "SqlPoolReference"
												},
												"typeProperties": {
													"storedProcedureName": "[audit].[sp_end_run]",
													"storedProcedureParameters": {
														"ConfigId": {
															"value": {
																"value": "@item().ConfigId",
																"type": "Expression"
															},
															"type": "Int32"
														},
														"ErrorMessage": {
															"value": null,
															"type": "String"
														},
														"PipelineRunId": {
															"value": {
																"value": "@pipeline().RunId",
																"type": "Expression"
															},
															"type": "String"
														},
														"RowsCopied": {
															"value": null,
															"type": "Int64"
														},
														"Status": {
															"value": "Succeeded",
															"type": "String"
														}
													}
												}
											}
										]
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"pProjectName": {
						"type": "string"
					}
				},
				"variables": {
					"sourcecontainer": {
						"type": "String"
					},
					"enablesilver": {
						"type": "Boolean"
					}
				},
				"folder": {
					"name": "test"
				},
				"annotations": [],
				"lastPublishTime": "2026-04-05T20:11:18Z"
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/datasets/DS_DedSQLpool_Table_Param')]",
				"[concat(variables('workspaceId'), '/sqlPools/dsqlp_dev02')]",
				"[concat(variables('workspaceId'), '/pipelines/PL_Copy_To_Bronze')]",
				"[concat(variables('workspaceId'), '/pipelines/PL_Load_To_Silver')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/PL_load_all_files_vv')]",
			"type": "Microsoft.Synapse/workspaces/pipelines",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"activities": [
					{
						"name": "Lookup_Config",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlDWSource",
								"sqlReaderQuery": "SELECT\n    ConfigId,\n    SourceContainer,\n    SourceDirectory,\n    FileName,\n    TargetSchema,\n    TargetTable,\n    SilverProcName,\n    EnableSilver\nFROM config.IngestionConfig\nWHERE IsActive = 1\nORDER BY ConfigId;",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DS_DedSQLpool_Table_Param",
								"type": "DatasetReference",
								"parameters": {
									"pSchema": "config",
									"pTable": "IngestionConfig"
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEach_Files",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Lookup_Config",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup_Config').output.value",
								"type": "Expression"
							},
							"isSequential": false,
							"activities": [
								{
									"name": "SP_Start_Run",
									"type": "SqlPoolStoredProcedure",
									"dependsOn": [
										{
											"activity": "Set source container",
											"dependencyConditions": [
												"Succeeded"
											]
										},
										{
											"activity": "Set Enablesilver",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"sqlPool": {
										"referenceName": "dsqlp_dev02",
										"type": "SqlPoolReference"
									},
									"typeProperties": {
										"storedProcedureName": "[audit].[sp_start_run]",
										"storedProcedureParameters": {
											"ConfigId": {
												"value": {
													"value": "@int(item().ConfigId)",
													"type": "Expression"
												},
												"type": "Int32"
											},
											"FileName": {
												"value": {
													"value": "@item().FileName",
													"type": "Expression"
												},
												"type": "String"
											},
											"PipelineName": {
												"value": "PL_load_all_files",
												"type": "String"
											},
											"PipelineRunId": {
												"value": {
													"value": "@pipeline().RunId",
													"type": "Expression"
												},
												"type": "String"
											},
											"TargetTable": {
												"value": {
													"value": "@concat(item().TargetSchema, '.', item().TargetTable)",
													"type": "Expression"
												},
												"type": "String"
											}
										}
									}
								},
								{
									"name": "Execute PL_bronze",
									"type": "ExecutePipeline",
									"dependsOn": [
										{
											"activity": "SP_Start_Run",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "PL_Copy_To_Bronze",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"p_SourceContainer": {
												"value": "@variables('sourcecontainer')",
												"type": "Expression"
											},
											"p_SourceDirectory": {
												"value": "@item().SourceDirectory",
												"type": "Expression"
											},
											"p_FileName": {
												"value": "@item().FileName",
												"type": "Expression"
											},
											"p_TargetSchema": {
												"value": "@item().TargetSchema",
												"type": "Expression"
											},
											"p_TargetTable": {
												"value": "@item().TargetTable",
												"type": "Expression"
											}
										}
									}
								},
								{
									"name": "SP_End_Run_Fail_bronze",
									"type": "SqlPoolStoredProcedure",
									"dependsOn": [
										{
											"activity": "Execute PL_bronze",
											"dependencyConditions": [
												"Failed"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"sqlPool": {
										"referenceName": "dsqlp_dev02",
										"type": "SqlPoolReference"
									},
									"typeProperties": {
										"storedProcedureName": "[audit].[sp_end_run]",
										"storedProcedureParameters": {
											"ConfigId": {
												"value": {
													"value": "@item().ConfigId",
													"type": "Expression"
												},
												"type": "Int32"
											},
											"ErrorMessage": {
												"value": {
													"value": "@string(activity('Execute PL_bronze').error.message)",
													"type": "Expression"
												},
												"type": "String"
											},
											"PipelineRunId": {
												"value": {
													"value": "@pipeline().RunId",
													"type": "Expression"
												},
												"type": "String"
											},
											"RowsCopied": {
												"value": null,
												"type": "Int64"
											},
											"Status": {
												"value": "Failed",
												"type": "String"
											}
										}
									}
								},
								{
									"name": "Set source container",
									"type": "SetVariable",
									"dependsOn": [],
									"policy": {
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"variableName": "sourcecontainer",
										"value": {
											"value": "@item().SourceContainer",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Set Enablesilver",
									"type": "SetVariable",
									"dependsOn": [],
									"policy": {
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"variableName": "enablesilver",
										"value": {
											"value": "@item().EnableSilver",
											"type": "Expression"
										}
									}
								},
								{
									"name": "If Condition1",
									"type": "IfCondition",
									"dependsOn": [
										{
											"activity": "Execute PL_bronze",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"expression": {
											"value": "@variables('enablesilver')",
											"type": "Expression"
										},
										"ifFalseActivities": [
											{
												"name": "SP_End_Run_Success_silver_copy1_copy1",
												"type": "SqlPoolStoredProcedure",
												"dependsOn": [],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"sqlPool": {
													"referenceName": "dsqlp_dev02",
													"type": "SqlPoolReference"
												},
												"typeProperties": {
													"storedProcedureName": "[audit].[sp_end_run]",
													"storedProcedureParameters": {
														"ConfigId": {
															"value": {
																"value": "@item().ConfigId",
																"type": "Expression"
															},
															"type": "Int32"
														},
														"ErrorMessage": {
															"value": null,
															"type": "String"
														},
														"PipelineRunId": {
															"value": {
																"value": "@pipeline().RunId",
																"type": "Expression"
															},
															"type": "String"
														},
														"RowsCopied": {
															"value": null,
															"type": "Int64"
														},
														"Status": {
															"value": "Succeeded",
															"type": "String"
														}
													}
												}
											}
										],
										"ifTrueActivities": [
											{
												"name": "Execute PL_Load_To_Silver",
												"type": "ExecutePipeline",
												"dependsOn": [],
												"policy": {
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"pipeline": {
														"referenceName": "PL_Load_To_Silver",
														"type": "PipelineReference"
													},
													"waitOnCompletion": true,
													"parameters": {
														"p_load_run_id": {
															"value": "@pipeline().RunId",
															"type": "Expression"
														},
														"p_procname": {
															"value": "@concat('silver.sp_load_', item().TargetTable)",
															"type": "Expression"
														}
													}
												}
											},
											{
												"name": "SP_End_Run_Fail_silver_copy1",
												"type": "SqlPoolStoredProcedure",
												"dependsOn": [
													{
														"activity": "Execute PL_Load_To_Silver",
														"dependencyConditions": [
															"Failed"
														]
													}
												],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"sqlPool": {
													"referenceName": "dsqlp_dev02",
													"type": "SqlPoolReference"
												},
												"typeProperties": {
													"storedProcedureName": "[audit].[sp_end_run]",
													"storedProcedureParameters": {
														"ConfigId": {
															"value": {
																"value": "@item().ConfigId",
																"type": "Expression"
															},
															"type": "Int32"
														},
														"ErrorMessage": {
															"value": {
																"value": "@string(activity('Execute PL_Load_To_Silver').error.message)",
																"type": "Expression"
															},
															"type": "String"
														},
														"PipelineRunId": {
															"value": {
																"value": "@pipeline().RunId",
																"type": "Expression"
															},
															"type": "String"
														},
														"RowsCopied": {
															"value": null,
															"type": "Int64"
														},
														"Status": {
															"value": "Failed",
															"type": "String"
														}
													}
												}
											},
											{
												"name": "SP_End_Run_Success_silver_copy1",
												"type": "SqlPoolStoredProcedure",
												"dependsOn": [
													{
														"activity": "Execute PL_Load_To_Silver",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"sqlPool": {
													"referenceName": "dsqlp_dev02",
													"type": "SqlPoolReference"
												},
												"typeProperties": {
													"storedProcedureName": "[audit].[sp_end_run]",
													"storedProcedureParameters": {
														"ConfigId": {
															"value": {
																"value": "@item().ConfigId",
																"type": "Expression"
															},
															"type": "Int32"
														},
														"ErrorMessage": {
															"value": null,
															"type": "String"
														},
														"PipelineRunId": {
															"value": {
																"value": "@pipeline().RunId",
																"type": "Expression"
															},
															"type": "String"
														},
														"RowsCopied": {
															"value": null,
															"type": "Int64"
														},
														"Status": {
															"value": "Succeeded",
															"type": "String"
														}
													}
												}
											}
										]
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"variables": {
					"sourcecontainer": {
						"type": "String"
					},
					"enablesilver": {
						"type": "Boolean"
					}
				},
				"folder": {
					"name": "test"
				},
				"annotations": [],
				"lastPublishTime": "2026-04-06T00:18:48Z"
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/datasets/DS_DedSQLpool_Table_Param')]",
				"[concat(variables('workspaceId'), '/sqlPools/dsqlp_dev02')]",
				"[concat(variables('workspaceId'), '/pipelines/PL_Copy_To_Bronze')]",
				"[concat(variables('workspaceId'), '/pipelines/PL_Load_To_Silver')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/DS_ADLS_CSV_Param')]",
			"type": "Microsoft.Synapse/workspaces/datasets",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_adls_source",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"pContainer": {
						"type": "string"
					},
					"pDirectory": {
						"type": "string"
					},
					"pFileName": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().pFileName",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@dataset().pDirectory",
							"type": "Expression"
						},
						"fileSystem": {
							"value": "@dataset().pContainer",
							"type": "Expression"
						}
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/linkedServices/ls_adls_source')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/DS_DedSQLpool_Table_Param')]",
			"type": "Microsoft.Synapse/workspaces/datasets",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_sql_dedicated_dev",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"pSchema": {
						"type": "string"
					},
					"pTable": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "AzureSqlDWTable",
				"schema": [],
				"typeProperties": {
					"schema": {
						"value": "@dataset().pSchema",
						"type": "Expression"
					},
					"table": {
						"value": "@dataset().pTable",
						"type": "Expression"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/linkedServices/ls_sql_dedicated_dev')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/ls_adls_source')]",
			"type": "Microsoft.Synapse/workspaces/linkedServices",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('ls_adls_source_properties_typeProperties_url')]"
				},
				"connectVia": {
					"referenceName": "AutoResolveIntegrationRuntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/integrationRuntimes/AutoResolveIntegrationRuntime')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/ls_sql_dedicated_dev')]",
			"type": "Microsoft.Synapse/workspaces/linkedServices",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDW",
				"typeProperties": {
					"server": "[parameters('ls_sql_dedicated_dev_properties_typeProperties_server')]",
					"database": "[parameters('ls_sql_dedicated_dev_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": false,
					"authenticationType": "SystemAssignedManagedIdentity"
				},
				"connectVia": {
					"referenceName": "AutoResolveIntegrationRuntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/integrationRuntimes/AutoResolveIntegrationRuntime')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/synw-ohcwm-dev-WorkspaceDefaultSqlServer')]",
			"type": "Microsoft.Synapse/workspaces/linkedServices",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"parameters": {
					"DBName": {
						"type": "String"
					}
				},
				"annotations": [],
				"type": "AzureSqlDW",
				"typeProperties": {
					"connectionString": "[parameters('synw-ohcwm-dev-WorkspaceDefaultSqlServer_connectionString')]"
				},
				"connectVia": {
					"referenceName": "AutoResolveIntegrationRuntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/integrationRuntimes/AutoResolveIntegrationRuntime')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/synw-ohcwm-dev-WorkspaceDefaultStorage')]",
			"type": "Microsoft.Synapse/workspaces/linkedServices",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('synw-ohcwm-dev-WorkspaceDefaultStorage_properties_typeProperties_url')]"
				},
				"connectVia": {
					"referenceName": "AutoResolveIntegrationRuntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/integrationRuntimes/AutoResolveIntegrationRuntime')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/AutoResolveIntegrationRuntime')]",
			"type": "Microsoft.Synapse/workspaces/integrationRuntimes",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"type": "Managed",
				"typeProperties": {
					"computeProperties": {
						"location": "AutoResolve",
						"dataFlowProperties": {
							"computeType": "General",
							"coreCount": 8,
							"timeToLive": 0
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('workspaceName'), '/WorkspaceSystemIdentity')]",
			"type": "Microsoft.Synapse/workspaces/credentials",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"type": "ManagedIdentity",
				"typeProperties": {}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('workspaceName'), '/SQL script 1')]",
			"type": "Microsoft.Synapse/workspaces/sqlscripts",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"content": {
					"query": "SELECT COUNT(*) AS cnt FROM bronze.customers;\nSELECT COUNT(*) AS cnt FROM bronze.orders;\nSELECT COUNT(*) AS cnt FROM bronze.products;\n\nSELECT TOP 10 * FROM bronze.customers;\nSELECT TOP 10 * FROM bronze.orders;\nSELECT TOP 10 * FROM bronze.products;\n\nSELECT SCHEMA_NAME(schema_id) AS schema_name, name\nFROM sys.tables\nWHERE name IN ('orders', 'customers', 'products');\n\nSELECT 'customers' AS table_name, COUNT(*) AS row_count FROM silver.customers\nUNION ALL\nSELECT 'orders', COUNT(*) FROM silver.orders\nUNION ALL\nSELECT 'products', COUNT(*) FROM silver.products;\n\nSELECT TOP 10 * FROM silver.customers;\nSELECT TOP 10 * FROM silver.orders;\nSELECT TOP 10 * FROM silver.products;\n\nSELECT 'bronze.customers' AS table_name, COUNT(*) AS row_count FROM bronze.customers\nUNION ALL\nSELECT 'silver.customers', COUNT(*) FROM silver.customers\nUNION ALL\nSELECT 'bronze.orders', COUNT(*) FROM bronze.orders\nUNION ALL\nSELECT 'silver.orders', COUNT(*) FROM silver.orders\nUNION ALL\nSELECT 'bronze.products', COUNT(*) FROM bronze.products\nUNION ALL\nSELECT 'silver.products', COUNT(*) FROM silver.products;",
					"metadata": {
						"language": "sql"
					},
					"currentConnection": {
						"databaseName": "dsqlp_dev02",
						"poolName": "dsqlp_dev02"
					},
					"resultLimit": 5000
				},
				"type": "SqlQuery"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('workspaceName'), '/audit_ddl')]",
			"type": "Microsoft.Synapse/workspaces/sqlscripts",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"folder": {
					"name": "test"
				},
				"content": {
					"query": "/*============================================================\n  Ensure schema exists\n============================================================*/\nIF NOT EXISTS (\n    SELECT 1\n    FROM sys.schemas\n    WHERE name = 'audit'\n)\nBEGIN\n    EXEC ('CREATE SCHEMA audit');\nEND;\nGO\n\n/*============================================================\n  Recreate audit table\n============================================================*/\nIF OBJECT_ID('audit.PipelineRun', 'U') IS NOT NULL\nBEGIN\n    DROP TABLE audit.PipelineRun;\nEND;\nGO\n\nCREATE TABLE audit.PipelineRun\n(\n    AuditId         BIGINT IDENTITY(1,1) NOT NULL,\n    PipelineName    VARCHAR(200)  NOT NULL,\n    PipelineRunId   VARCHAR(64)   NOT NULL,\n    ConfigId        INT           NOT NULL,\n    FileName        VARCHAR(512)  NULL,\n    TargetTable     VARCHAR(256)  NULL,\n    StartTime       DATETIME2(3)  NOT NULL,\n    EndTime         DATETIME2(3)  NULL,\n    Status          VARCHAR(30)   NOT NULL,\n    RowsCopied      BIGINT        NULL,\n    ErrorMessage    VARCHAR(4000) NULL\n)\nWITH\n(\n    DISTRIBUTION = ROUND_ROBIN,\n    HEAP\n);\nGO\n\n/*============================================================\n  Start proc\n============================================================*/\nIF OBJECT_ID('audit.sp_start_run', 'P') IS NOT NULL\nBEGIN\n    DROP PROCEDURE audit.sp_start_run;\nEND;\nGO\n\nCREATE PROCEDURE audit.sp_start_run\n    @PipelineName   VARCHAR(200),\n    @PipelineRunId  VARCHAR(64),\n    @ConfigId       INT,\n    @FileName       VARCHAR(512),\n    @TargetTable    VARCHAR(256)\nAS\nBEGIN\n    INSERT INTO audit.PipelineRun\n    (\n        PipelineName,\n        PipelineRunId,\n        ConfigId,\n        FileName,\n        TargetTable,\n        StartTime,\n        Status\n    )\n    SELECT\n        @PipelineName,\n        @PipelineRunId,\n        @ConfigId,\n        @FileName,\n        @TargetTable,\n        SYSDATETIME(),\n        'Started';\nEND;\nGO\n\n\n/*============================================================\n  End proc\n============================================================*/\nIF OBJECT_ID('audit.sp_end_run', 'P') IS NOT NULL\nBEGIN\n    DROP PROCEDURE audit.sp_end_run;\nEND;\nGO\n\nCREATE PROCEDURE audit.sp_end_run\n    @PipelineRunId  VARCHAR(64),\n    @ConfigId       INT,\n    @Status         VARCHAR(30),\n    @RowsCopied     BIGINT,\n    @ErrorMessage   VARCHAR(4000)\nAS\nBEGIN\n    UPDATE audit.PipelineRun\n       SET EndTime      = SYSDATETIME(),\n           Status       = @Status,\n           RowsCopied   = @RowsCopied,\n           ErrorMessage = @ErrorMessage\n     WHERE PipelineRunId = @PipelineRunId\n       AND ConfigId      = @ConfigId\n       AND EndTime IS NULL;\nEND;\nGO",
					"metadata": {
						"language": "sql"
					},
					"currentConnection": {
						"databaseName": "dsqlp_dev02",
						"poolName": "dsqlp_dev02"
					},
					"resultLimit": 5000
				},
				"type": "SqlQuery"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('workspaceName'), '/bronze_tables')]",
			"type": "Microsoft.Synapse/workspaces/sqlscripts",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"folder": {
					"name": "test"
				},
				"content": {
					"query": "IF OBJECT_ID('bronze.customers', 'U') IS NOT NULL\n    DROP TABLE bronze.customers;\nGO\n\nCREATE TABLE bronze.customers\n(\n    customer_id     VARCHAR(50)    NULL,\n    customer_name   VARCHAR(200)   NULL,\n    city            VARCHAR(100)   NULL,\n    signup_date     VARCHAR(50)    NULL,\n    filename        VARCHAR(255)   NULL,\n    etlrunid        VARCHAR(100)   NULL,\n    createdate      DATETIME       NULL\n)\nWITH\n(\n    DISTRIBUTION = ROUND_ROBIN,\n    HEAP\n);\nGO\n\n\nIF OBJECT_ID('bronze.products', 'U') IS NOT NULL\n    DROP TABLE bronze.products;\nGO\n\nCREATE TABLE bronze.products\n(\n    product_id      VARCHAR(50)    NULL,\n    product_name    VARCHAR(200)   NULL,\n    category        VARCHAR(100)   NULL,\n    unit_price      VARCHAR(50)    NULL,\n    filename        VARCHAR(255)   NULL,\n    etlrunid        VARCHAR(100)   NULL,\n    createdate      DATETIME       NULL\n)\nWITH\n(\n    DISTRIBUTION = ROUND_ROBIN,\n    HEAP\n);\nGO\n\nIF OBJECT_ID('bronze.orders', 'U') IS NOT NULL\n    DROP TABLE bronze.orders;\nGO\n\nCREATE TABLE bronze.orders\n(\n    order_id        VARCHAR(50)    NULL,\n    customer_id     VARCHAR(50)    NULL,\n    product_id      VARCHAR(50)    NULL,\n    quantity        VARCHAR(50)    NULL,\n    order_date      VARCHAR(50)    NULL,\n    filename        VARCHAR(255)   NULL,\n    etlrunid        VARCHAR(100)   NULL,\n    createdate      DATETIME       NULL\n)\nWITH\n(\n    DISTRIBUTION = ROUND_ROBIN,\n    HEAP\n);\nGO",
					"metadata": {
						"language": "sql"
					},
					"currentConnection": {
						"databaseName": "dsqlp_dev02",
						"poolName": "dsqlp_dev02"
					},
					"resultLimit": 5000
				},
				"type": "SqlQuery"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('workspaceName'), '/config_table')]",
			"type": "Microsoft.Synapse/workspaces/sqlscripts",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"folder": {
					"name": "test"
				},
				"content": {
					"query": "/*============================================================\n  Ensure schema exists\n============================================================*/\nIF NOT EXISTS (\n    SELECT 1\n    FROM sys.schemas\n    WHERE name = 'config'\n)\nBEGIN\n    EXEC ('CREATE SCHEMA config');\nEND;\nGO\n\n/*============================================================\n  Recreate table\n============================================================*/\nIF OBJECT_ID('config.IngestionConfig', 'U') IS NOT NULL\nBEGIN\n    DROP TABLE config.IngestionConfig;\nEND;\nGO\n\n/*============================================================\n  Create table\n============================================================*/\nCREATE TABLE config.IngestionConfig\n(\n    ConfigId         INT IDENTITY(1,1) NOT NULL,\n    IsActive         BIT NOT NULL\n        CONSTRAINT DF_IngestionConfig_IsActive DEFAULT (1),\n\n    SourceContainer  VARCHAR(128) NOT NULL,\n    SourceDirectory  VARCHAR(512) NOT NULL,\n    FileName         VARCHAR(512) NOT NULL,\n\n    TargetSchema     VARCHAR(128) NOT NULL,\n    TargetTable      VARCHAR(128) NOT NULL,\n\n    SilverProcName   VARCHAR(256) NULL,\n    EnableSilver     BIT NOT NULL\n        CONSTRAINT DF_IngestionConfig_EnableSilver DEFAULT (1)\n)\nWITH\n(\n    DISTRIBUTION = ROUND_ROBIN,\n    HEAP\n);\nGO\n\n/*============================================================\n  Load config rows\n============================================================*/\nTRUNCATE TABLE config.IngestionConfig;\nGO\n\nINSERT INTO config.IngestionConfig\n(\n    SourceContainer,\n    SourceDirectory,\n    FileName,\n    TargetSchema,\n    TargetTable,\n    SilverProcName,\n    EnableSilver\n)\nSELECT 'test', 'source', 'customers.csv', 'bronze', 'customers', 'silver.sp_load_customers', 1\nUNION ALL\nSELECT 'test', 'source', 'products.csv',  'bronze', 'products',  'silver.sp_load_products', 1\nUNION ALL\nSELECT 'test', 'source', 'orders.csv',    'bronze', 'orders',    'silver.sp_load_orders', 1;\nGO\n\n/*============================================================\n  Check config\n============================================================*/\nSELECT *\nFROM config.IngestionConfig;\nGO",
					"metadata": {
						"language": "sql"
					},
					"currentConnection": {
						"databaseName": "dsqlp_dev02",
						"poolName": "dsqlp_dev02"
					},
					"resultLimit": 5000
				},
				"type": "SqlQuery"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('workspaceName'), '/madallion_schemas')]",
			"type": "Microsoft.Synapse/workspaces/sqlscripts",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"folder": {
					"name": "test"
				},
				"content": {
					"query": "IF NOT EXISTS (SELECT 1 FROM sys.schemas WHERE name = 'config')\n    EXEC ('CREATE SCHEMA config');\nGO\n\nIF NOT EXISTS (SELECT 1 FROM sys.schemas WHERE name = 'audit')\n    EXEC ('CREATE SCHEMA audit');\nGO\n\nIF NOT EXISTS (SELECT 1 FROM sys.schemas WHERE name = 'bronze')\n    EXEC ('CREATE SCHEMA bronze');\nGO\n\nIF NOT EXISTS (SELECT 1 FROM sys.schemas WHERE name = 'silver')\n    EXEC ('CREATE SCHEMA silver');\nGO",
					"metadata": {
						"language": "sql"
					},
					"currentConnection": {
						"databaseName": "master",
						"poolName": "Built-in"
					},
					"resultLimit": 5000
				},
				"type": "SqlQuery"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('workspaceName'), '/silver_tables')]",
			"type": "Microsoft.Synapse/workspaces/sqlscripts",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"folder": {
					"name": "test"
				},
				"content": {
					"query": "\n\nIF OBJECT_ID('silver.customers', 'U') IS NOT NULL\n    DROP TABLE silver.customers;\nGO\n\nCREATE TABLE silver.customers\n(\n    customer_id      INT            NOT NULL,\n    customer_name    VARCHAR(200)   NOT NULL,\n    city             VARCHAR(100)   NULL,\n    signup_date      DATE           NULL\n)\nWITH\n(\n    DISTRIBUTION = ROUND_ROBIN,\n    HEAP\n);\nGO\n\nIF OBJECT_ID('silver.products', 'U') IS NOT NULL\n    DROP TABLE silver.products;\nGO\n\nCREATE TABLE silver.products\n(\n    product_id      INT             NOT NULL,\n    product_name    VARCHAR(200)    NOT NULL,\n    category        VARCHAR(100)    NULL,\n    unit_price      DECIMAL(18,2)   NULL\n)\nWITH\n(\n    DISTRIBUTION = ROUND_ROBIN,\n    HEAP\n);\nGO\n\nIF OBJECT_ID('silver.orders', 'U') IS NOT NULL\n    DROP TABLE silver.orders;\nGO\n\nCREATE TABLE silver.orders\n(\n    order_id INT NULL,\n    customer_id INT NULL,\n    product_id INT NULL,\n    quantity INT NULL,\n    order_date DATE NULL\n)\nWITH\n(\n    DISTRIBUTION = ROUND_ROBIN,\n    HEAP\n);\nGO",
					"metadata": {
						"language": "sql"
					},
					"currentConnection": {
						"databaseName": "dsqlp_dev02",
						"poolName": "dsqlp_dev02"
					},
					"resultLimit": 5000
				},
				"type": "SqlQuery"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('workspaceName'), '/sp_silver')]",
			"type": "Microsoft.Synapse/workspaces/sqlscripts",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"folder": {
					"name": "test"
				},
				"content": {
					"query": "IF OBJECT_ID('silver.sp_load_customers', 'P') IS NOT NULL\n    DROP PROCEDURE silver.sp_load_customers;\nGO\n\nCREATE PROCEDURE silver.sp_load_customers\nAS\nBEGIN\n    TRUNCATE TABLE silver.customers;\n\n    INSERT INTO silver.customers\n    (\n        customer_id,\n        customer_name,\n        city,\n        signup_date\n    )\n    SELECT\n        TRY_CAST(LTRIM(RTRIM(customer_id)) AS INT),\n        LTRIM(RTRIM(customer_name)),\n        NULLIF(LTRIM(RTRIM(city)), ''),\n        TRY_CAST(LTRIM(RTRIM(signup_date)) AS DATE)\n    FROM bronze.customers\n    WHERE TRY_CAST(LTRIM(RTRIM(customer_id)) AS INT) IS NOT NULL;\nEND;\nGO\n\nIF OBJECT_ID('silver.sp_load_products', 'P') IS NOT NULL\n    DROP PROCEDURE silver.sp_load_products;\nGO\n\nCREATE PROCEDURE silver.sp_load_products\nAS\nBEGIN\n    TRUNCATE TABLE silver.products;\n\n    INSERT INTO silver.products\n    (\n        product_id,\n        product_name,\n        category,\n        unit_price\n    )\n    SELECT\n        TRY_CAST(LTRIM(RTRIM(product_id)) AS INT),\n        LTRIM(RTRIM(product_name)),\n        NULLIF(LTRIM(RTRIM(category)), ''),\n        TRY_CAST(LTRIM(RTRIM(unit_price)) AS DECIMAL(18,2))\n    FROM bronze.products\n    WHERE TRY_CAST(LTRIM(RTRIM(product_id)) AS INT) IS NOT NULL;\nEND;\nGO\n\nIF OBJECT_ID('silver.sp_load_orders', 'P') IS NOT NULL\n    DROP PROCEDURE silver.sp_load_orders;\nGO\n\nCREATE PROCEDURE silver.sp_load_orders\nAS\nBEGIN\n    TRUNCATE TABLE silver.orders;\n\n    INSERT INTO silver.orders\n    (\n        order_id,\n        customer_id,\n        product_id,\n        quantity,\n        order_date\n    )\n    SELECT\n        TRY_CAST(LTRIM(RTRIM(order_id)) AS INT),\n        TRY_CAST(LTRIM(RTRIM(customer_id)) AS INT),\n        TRY_CAST(LTRIM(RTRIM(product_id)) AS INT),\n        TRY_CAST(LTRIM(RTRIM(quantity)) AS INT),\n        TRY_CAST(LTRIM(RTRIM(order_date)) AS DATE)\n    FROM bronze.orders\n    WHERE TRY_CAST(LTRIM(RTRIM(order_id)) AS INT) IS NOT NULL;\nEND;\nGO\n\n\nIF OBJECT_ID('silver.usp_exec', 'P') IS NOT NULL\n    DROP PROCEDURE silver.usp_exec;\nGO\n\nCREATE PROCEDURE silver.usp_exec\n    @load_run_id NVARCHAR(100),\n    @procname NVARCHAR(256)\nAS\nBEGIN\n    SET NOCOUNT ON;\n\n    DECLARE @sql NVARCHAR(MAX);\n\n    IF @procname IS NULL OR LTRIM(RTRIM(@procname)) = ''\n    BEGIN\n        THROW 50001, 'procname is required', 1;\n    END;\n\n    SET @sql = N'EXEC ' + @procname;\n\n    EXEC sp_executesql @sql;\nEND;\nGO",
					"metadata": {
						"language": "sql"
					},
					"currentConnection": {
						"databaseName": "dsqlp_dev02",
						"poolName": "dsqlp_dev02"
					},
					"resultLimit": 5000
				},
				"type": "SqlQuery"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('workspaceName'), '/dsqlp_dev02')]",
			"type": "Microsoft.Synapse/workspaces/sqlPools",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"collation": "SQL_Latin1_General_CP1_CI_AS",
				"maxSizeBytes": 263882790666240,
				"annotations": []
			},
			"dependsOn": [],
			"location": "centralus"
		}
	]
}